<!DOCTYPE html>
<html>
<head>
    <title>Nijor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" media="print" onload="this.media='all'">
    <link rel="icon" href="/images/logo.svg">
    <script src="/modules/main.js" type="module" async defer></script>
</head>
<body>
    <noscript>Please enable Javascript to view this site properly.</noscript>
    <div id="app"></div>
</body>
</html>